<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="icon" type="image/png" sizes="32x32" href="./images/nappmenu.png" />
    <link rel="stylesheet" href="Component/Dashboard.css" />
    <title>N laundry WEB UI | Dashboard</title>
  </head>
  <body> 
    <main class="dasboard_section">
        <div class="flex">
            <img class="image_Dashboard" src="/images/Dashboard.png"/>
            <p class="dashboard_text">Dashboard</p>
        </div>
        <div>
            <div class="light_blue_hub">
                <p class="revenue-services_text">Revenue</p>
                <div class="flex">
                    <div  class="telemetry_square">

                        <div class="quash_controls">
                            <p class="days-telemet_text">Today</p>
                           <div class="flex">
                             <p class="telemetry-text_k2">21K</p>
                           </div>
                           
                        </div>  

                    </div>
                    <div  class="telemetry_square">

                         <div class="quash_controls">
                            <p class="days-telemet_text">Yesterday</p>
                           <div class="flex-text_top">
                             <p class="telemetry-text_k2">21K</p>
                           </div>
                           
                        </div>  

                    </div>
                    <div  class="telemetry_square">
                         
                         <div class="quash_controls">
                            <p class="days-telemet_text">Last 7 Days</p>
                           <div class="flex">
                             <p class="telemetry-text_k2">21K</p>
                           </div>
                           
                        </div>  

                    </div>
                    
                </div>
            </div>
            <div  class="spacing"></div>
            <div class="light_blue_hub">
                <p class="revenue-services_text">Services</p>
                <div class="flex">
                    <div  class="telemetry_square">
                        <div class="quash_controls">
                           <div class="flex margin-image-text_top">
                             <img class="images" src="/images/bg_washing_machine.png"/>
                             <p class="telemetry-text_k">21K</p>
                           </div>
                           <p class="washiron_text">Wash & iron</p>
                        </div>                        
                    </div>
                    <div  class="telemetry_square">
                        <div class="quash_controls">
                           <div class="flex margin-image-text_top">
                             <img class="images" src="/images/bg_iron.png"/>
                             <p class="telemetry-text_k">22K</p>
                           </div>
                           <p class="washiron_text">Ironing</p>
                        </div>        

                    </div>
                    <div  class="telemetry_square">
                        <div class="quash_controls">
                           <div class="flex margin-image-text_top">
                             <img class="images" src="/images/bg_brown_coat.png"/>
                             <p class="telemetry-text_k">154K</p>
                           </div>
                           <p class="washiron_text">Dry Cleaning</p>
                        </div>    

                    </div>
                   
                </div>
            </div>
        </div>

    </main>
  </body>
</html>