<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="icon" type="image/png" sizes="32x32" href="./images/nappmenu.png" />
    <link rel="stylesheet" href="Component/financials.css" />
    <title>N laundry WEB UI | Financials</title>
  </head>
  <body> 
    <main class="financials_section">
        <div class="flex">
            <img class="image_financials" src="/images/financials.png"/>
            <p class="financials-section_text">Financials</p>
        </div>
        <div class="flex">
            <div  class="revenue_column_finan">
               <p class="financials_text">Revenue</p>
               <div class="flex">
                <p class="financials-revenue_text">Today:</p>
                <p class="financials-revenue_text">123K</p>
               </div>
               <div class="flex">
                <p class="financials-revenue_text">Yesterday:</p>
                <p class="financials-revenue_text">350K</p>
               </div>
               <div class="flex">
                <p class="financials-revenue_text">Last 7 days:</p>
                <p class="financials-revenue_text">100,000K</p>
               </div>
               <div class="flex">
                <p class="financials-revenue_text">Last 30 Days:</p>
                <p class="financials-revenue_text">42000K</p>
               </div>
               <div class="flex">
                <p class="financials-revenue_text">Last 6 Months:</p>
                <p class="financials-revenue_text">90000K</p>
               </div>
            </div>
            <div class="chart_financials flex">
                 <img  src="/images/chart _yesterday.PNG"/>
                 <img  src="/images/chart _today.PNG"/>
            </div>
            </div>
        </div>
        
    </main>
  </body>    