<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="icon" type="image/png" sizes="32x32" href="./images/nappmenu.png" />
    <link rel="stylesheet" href="Component/Payments.css" />
    <title>N laundry WEB UI | Payments</title>
  </head>
  <body> 
    <main class="payments_section">
        <div class="flex">
            <img class="image_payments" src="images/payments.png"/>
            <p class="payments_text">Payments</p>
        </div>
        <div class="flex">
            <div class="add_payment_form">
                   <p class="payment_text">Process Payment</p>
                <div class="margin_to_the_left">
                    <p class="add-payment-textbox_label">Customer Name</p>                    
                    <input class="add-payment_textbox" />
                </div>
                <div class="margin_to_the_left">
                    <p class="add-payment-textbox_label">Customer Number</p>                    
                    <input class="add-payment_textbox" />
                </div>
                <div class="margin_to_the_left">
                    <p class="add-payment-textbox_label">Item Number</p>                    
                    <input class="add-payment_textbox" />
                </div>
                 <div class="margin_to_the_left">
                    <p class="add-payment-textbox_label">Service</p>                    
                    <input class="add-payment_textbox" />
                </div>
                 <div class="margin_to_the_left">
                    <p class="add-payment-textbox_label_Price">Price</p>                    
                    <input class="add-payment_textbox" />
                </div>

                <button class="add-payment_button">Generate reciept</button>
            </div>
        </div>

    </main>
  </body>