<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="icon" type="image/png" sizes="32x32" href="./images/nappmenu.png" />
    <link rel="stylesheet" href="Component/reciept.css" />
    <title>N laundry WEB UI | Reciept</title>
  </head>
  <body> 
    <main class="n-laundry-payments_recipt">     
              <div class="center">
                <p class="reciept-of_payment">Reciept Of Payment</p>
              </div> 
          
               <div class="center">
                <p class="reciept-text_info ">Simulakra Technologies</p>
                
               </div>

               <div>
                <p class="reciept-text_info">1600 Simulakra Avenue</p>
                <p class="reciept-text_info">333 160 012</p>
               </div>

               <div>
                <p class="reciept-text_info">SimulakraTechnologies@email.com</p>
                
               </div>

               <div class="flex center">
                <p class="reciept-text_info">TAX TPIN:</p>
                <p class="reciept-text_info spacing_left">1600123456789</p>
               </div>

               <div class="flex center">
                <p class="reciept-text_info">Name:</p>
                <p class="reciept-text_info spacing_left">Nolan Westwood...</p>
               </div>

                <div class="flex center">
                <p class="reciept-text_info">Item Number:</p>
                <p class="reciept-text_info spacing_left">1022345597842</p>
               </div>

                <div class="flex center">
                <p class="reciept-text_info">Service:</p>
                <p class="reciept-text_info spacing_left">Wash and Iron</p>
               </div>

                <div class="flex center">
                <p class="reciept-text_info">Price:</p>
                <p class="reciept-text_info spacing_left">500K...</p>
               </div> 

               <div class="flex center">
                <p class="reciept-text_info">Sub Total:</p>
                <p class="reciept-text_info spacing_left">520K...</p>
               </div> 

               <div class="flex center">
                <p class="reciept-text_info">Total:</p>
                <p class="reciept-text_info spacing_left">550K...</p>
               </div>

               <div class="flex center">
                <p class="reciept-text_info">Payment:</p>
                <p class="reciept-text_info spacing_left">Pending...</p>
               </div>
               
               <div class="center">
                 <button class="complete-payment_button">Complete Payment</button>
               </div>
            
    </main>
  </body>    