<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="icon" type="image/png" sizes="32x32" href="./images/nappmenu.png" />
    <link rel="stylesheet" href="Component/Services.css" />
    <title>N laundry WEB UI | Services</title>
  </head>
  <body> 
    <main class="services_section">
        <div class="flex">
            <img class="image_Services" src="../images/services.png"/>
            <p class="services_text">Services</p>
        </div>
        <div class="flex">
            <div class="services_table">
            </div>
            <div class="add_services_form">
                <p class="services_text">Add Service</p>
                <div class="margin_to_the_left">
                    <p class="add-service-textbox_label">Service</p>                    
                    <input class="add-service_textbox" />
                </div>
                 <div class="margin_to_the_left">
                    <p class="add-service-textbox_label">Method</p>                    
                    <input class="add-service_textbox" />
                </div>
                 <div class="margin_to_the_left">
                    <p class="add-service-textbox_label_Price">Price</p>                    
                    <input class="add-service_textbox" />
                </div>

                <button class="add-service_button">Add Service</button>
           </div>
        </div>
        
    </main>
  </body>    