<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="icon" type="image/png" sizes="32x32" href="./images/nappmenu.png" />
    <link rel="stylesheet" href="Component/Services.css" />
    <title>N laundry WEB UI | Users</title>
  </head>
  <body> 
    <main class="services_section">
        <div class="flex">
            <img class="image_Services" src="/images/users.png"/>
            <p class="services_text">Users</p>
        </div>
        <div class="flex">
            <div class="services_table">
            </div>
            <div class="add_services_form">
                <p class="services_text">Add User</p>
                <div class="margin_to_the_left">
                    <p class="add-service-textbox_label">Name</p>                    
                    <input class="add-service_textbox" />
                </div>
                 <div class="margin_to_the_left">
                    <p class="add-service-textbox_label">Number</p>                    
                    <input class="add-service_textbox" />
                </div>
                 <div class="margin_to_the_left">
                    <p class="add-service-textbox_label_Price">Email</p>                    
                    <input class="add-service_textbox" />
                </div>

                 <div class="margin_to_the_left">
                    <p class="add-service-textbox_label_Price">Password</p>                    
                    <input class="add-service_textbox" />
                </div>

                <div class="margin_to_the_left">
                    <p class="add-service-textbox_label_Price">Role</p>                    
                    <input class="add-service_textbox" />
                </div>

                <button class="add-service_button">Add User</button>
           </div>
        </div>
        
    </main>
  </body>    